
</main>
</div>
<footer class="app-footer">
    <div>
        <a href="http://cresco.io" target="_blank">Cresco</a>
        <span>&copy; 2019.</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-sm btn-primary" href="https://github.com/CrescoEdge/quickstart" target="_blank">
            Visit Us on Github!
        </a>
    </div>
    <div class="ml-auto">
        <span>Dashboard powered by</span>
        <a href="https://coreui.io" target="_blank">CoreUI</a>
    </div>
</footer>
<script src="/dashboard/vendors/pace-progress/js/pace.min.js"></script>
<script src="/dashboard/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="/dashboard/vendors/coreui/coreui/js/coreui.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="/dashboard/vendors/chart/js/Chart.min.js"></script>
<script src="/dashboard/vendors/coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>
<script src="/dashboard/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="/dashboard/vendors/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/dashboard/vendors/datatables/js/dataTables.responsive.min.js"></script>
<script src="/dashboard/vendors/gauge/gauge.min.js"></script>
</body>
</html>
